.statistics .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold
}
.statistics .statistics-btn-next{
    margin-top: 0;
}
.statistics .statistics-btn-prev{
    margin-right: 1rem;
}